.map-block {
  /* height: 70vh; */
  height: 70%;
}

agm-map {
  /* height: 70vh; */
  height: 65vh;
}
.today-forecast {
  /* height: 30vh; */
  height: 30%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 30% repeat(6, 1rf); */
  background: hsla(133, 42%, 67%, 1);

  background: linear-gradient(
    90deg,
    hsla(133, 42%, 67%, 1) 0%,
    hsla(232, 81%, 69%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(133, 42%, 67%, 1) 0%,
    hsla(232, 81%, 69%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(133, 42%, 67%, 1) 0%,
    hsla(232, 81%, 69%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#88CE97", endColorstr="#7283F0", GradientType=1 );
}
.today-weather {
  width: 30%;
}
.forecast-weather {
  border-left: 2px solid rgb(48, 44, 44);
  /* width: 11.1%; */

  /* border-left: 5px solid rgb(0, 0, 0); */
  flex-basis: 13.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.forecast-day {
  padding: 0.3rem;
  width: 2.5rem;
  font-size: 1rem;
  background-color: #616266e8;
  text-align: center;
  border-radius: 15%;
}

.forecast-icon {
  /* width: 100%; */

  align-items: center;
}

.today-forecast {
  padding: 1rem 0;
  background: rgb(0, 0, 0);

  background: hsla(48, 22%, 74%, 1);

  background: linear-gradient(
    225deg,
    hsla(48, 22%, 74%, 1) 27%,
    hsla(229, 52%, 47%, 1) 100%
  );

  background: -moz-linear-gradient(
    225deg,
    hsla(48, 22%, 74%, 1) 27%,
    hsla(229, 52%, 47%, 1) 100%
  );

  background: -webkit-linear-gradient(
    225deg,
    hsla(48, 22%, 74%, 1) 27%,
    hsla(229, 52%, 47%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CCC6AF", endColorstr="#3950B6", GradientType=1 );

  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.today-weather {
  display: flex;
  /* gap: 10%; */
  /* justify-content: space-evenly; */
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  /* padding: 2rem; */
}
.today-weather > div {
  display: flex;
  flex-direction: column;
}

.today-temp {
  /* font-size: 3rem;
  margin-left: 1rem; */
  font-size: 3.5rem;

  padding: 1rem 0.2rem 0 2rem;
  text-align: center;
}

.today-day {
  /* padding: 0.2rem  */
  padding: 0.2rem 1.7rem;
  background-color: #616266e8;
  border-radius: 9%;
  text-align: center;
}

.location {
  position: absolute;
  top: 10%;
  right: 5%;
  color: white;
}

.refresh-option {
  position: ABSOLUTE;
  top: 40%;
  right: 3.6%;
  color: white;
  background: #141445;
  /* width: 9rem; */
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  cursor: pointer;
  align-items: center;

  padding-top: 0.5rem;
}
